# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
Buoi03/node_modules/

# Expo
Buoi03/.expo/
Buoi03/dist/
Buoi03/web-build/

# Native
Buoi03/*.orig.*
Buoi03/*.jks
Buoi03/*.p8
Buoi03/*.p12
Buoi03/*.key
Buoi03/*.mobileprovision

# Metro
Buoi03/.metro-health-check*

# debug
Buoi03/npm-debug.*
Buoi03/yarn-debug.*
Buoi03/yarn-error.*

# local env files
Buoi03/.env*.local

# typescript
Buoi03*.tsbuildinfo