# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
Lab01_figma/node_modules/
Lab02_figma/node_modules/
Lab03_figma/node_modules/
Lab04_figma/node_modules/

# Expo
Lab01_figma/.expo/
Lab01_figma/dist/
Lab01_figma/web-build/

Lab02_figma/.expo/
Lab02_figma/dist/
Lab02_figma/web-build/

Lab03_figma/.expo/
Lab03_figma/dist/
Lab03_figma/web-build/

Lab04_figma/.expo/
Lab04_figma/dist/
Lab04_figma/web-build/

# Native
Lab01_figma/*.orig.*
Lab01_figma/*.jks
Lab01_figma/*.p8
Lab01_figma/*.p12
Lab01_figma/*.key
Lab01_figma/*.mobileprovision

Lab02_figma/*.mobileprovision
Lab02_figma/*.orig.*
Lab02_figma/*.jks
Lab02_figma/*.p8
Lab02_figma/*.p12
Lab02_figma/*.key


Lab03_figma/*.orig.*
Lab03_figma/*.jks
Lab03_figma/*.p8
Lab03_figma/*.p12
Lab03_figma/*.key
Lab03_figma/*.mobileprovision

Lab04_figma/*.orig.*
Lab04_figma/*.jks
Lab04_figma/*.p8
Lab04_figma/*.p12
Lab04_figma/*.key
Lab04_figma/*.mobileprovision


# Metro
Lab01_figma/.metro-health-check*
Lab02_figma/.metro-health-check*
Lab03_figma/.metro-health-check*
Lab04_figma/.metro-health-check*

# debug
Lab01_figma/npm-debug.*
Lab01_figma/yarn-debug.*
Lab01_figma/yarn-error.*

Lab02_figma/npm-debug.*
Lab02_figma/yarn-debug.*
Lab02_figma/yarn-error.*

Lab03_figma/npm-debug.*
Lab03_figma/yarn-debug.*
Lab03_figma/yarn-error.*

Lab04_figma/npm-debug.*
Lab04_figma/yarn-debug.*
Lab04_figma/yarn-error.*

# local env files
Lab01_figma/.env*.local
Lab02_figma/.env*.local
Lab03_figma/.env*.local
Lab04_figma/.env*.local

# typescript
Lab01_figma*.tsbuildinfo
Lab02_figma*.tsbuildinfo
Lab03_figma*.tsbuildinfo
Lab04_figma*.tsbuildinfo